nev{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-title{
    color: black;
    font-size: 45px;
    /* font-style: normal; */
    font-weight: 800;
    /* line-height: normal; */
}
.textt-primary{

    color: coral;
}
nev > ul{
    display: flex;
    align-items: center;
    margin: 0 200px;
}
nev li{
   list-style: none;
   margin-right:50px ;
}
nev a{
    text-decoration: none;
    color: dimgray;
}
.btn{
    border-radius: 3px;
    background-color: coral;
    border: 0px;
    color: aliceblue;
    font-size:20px ;
    font-weight: 700;
    padding: 15px 18px;
}


/* header start  */
.header{
    background-color: #fff8f3;
}
.bannar{
    padding:30px 30px 150px ;
    display: flex;
    align-items: center;
}
.profile{
    width: 500px;
}